{% extends 'front_base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    
                   <div class="preloader fixed-top ">
				<div class="alllove">
					<span class="love love1 glyphicon glyphicon-heart"></span>
					<span class="love love3 glyphicon glyphicon-heart"></span>
					<span class="love love2 glyphicon_loading ">Loading</span>
					<span class="love love4 glyphicon glyphicon-heart"></span>
					<span class="love love5 glyphicon glyphicon-heart"></span>

				</div>
			</div>

                    <div class="header-widget" >
                        <tr>
                            <a href="{{ path('registration') }}" class=" log-in-button"><i class="icon-feather-user-plus"></i> <span>Inscription</span></a>
                        </tr>
                        <tr>
                            <a href="{{ path('app_login') }}" class=" log-in-button"><i class="icon-feather-log-in"></i> <span>Connexion</span></a>
                        </tr>
                    </div>


    </header>
    <!-- Content -->
    <br><br> <br><br>
    <section id="article" class="container-fluid pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Pour réinitialiser votre mot de passe, veuillez entrer votre adresse e-mail ci-dessous.</p>
                    {{ form(emailForm) }}
                </div>
            </div>
        </div>
    </section>

{% block footer %}
{% endblock %}
{% endblock %}