{% extends 'front_base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
  <div class="preloader fixed-top ">
				<div class="alllove">
					<span class="love love1 glyphicon glyphicon-heart"></span>
					<span class="love love3 glyphicon glyphicon-heart"></span>
					<span class="love love2 glyphicon_loading ">Loading</span>
					<span class="love love4 glyphicon glyphicon-heart"></span>
					<span class="love love5 glyphicon glyphicon-heart"></span>

				</div>
			</div>
    <br>
    <h1>Réinitialisation du mot de passe</h1>
    <br>
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="post">
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" id="valider" class="list-apply-button-ADD-FORM">
            Valider le mot de passe
        </button>
    </form>
{% block footer %}
{% endblock %}
{% endblock %}